/* Cursiva a mano font-family: 'Nothing You Could Do', cursive; */

h1 {
    /* Edición del título */
    box-sizing: border-box;
    color: purple;
    text-decoration: underline brown;
    text-shadow: -3px 2px 4px black;
    font-family: 'Nothing You Could Do', cursive;
    font-size: 48px;
}

.cuadro {
    /* Edición de fondo */
    background: rgb(238, 174, 202);
    background: -moz-radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 68%);
    background: -webkit-radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 68%);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 68%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca", endColorstr="#94bbe9", GradientType=1);
    margin: 5%;
    padding-left: 10px;
    box-sizing: border-box;
    margin-left: 0px;
    border: 2px solid rgb(0, 0, 0);
}

.datos {
    /* Edición de subtítulos */
    text-decoration: underline red;
    font-family: 'Times New Roman';
    font-weight: bold;
    color: blue;
}

.form {
    /* Edición de palabra clave */
    font-family: Arial blue;
    font-weight: bold;
    font-size: 0.5cm;
}

.box {
    background-color: rgba(255, 255, 0, 0.76);
    margin-left: 15px;
    width: 370px;
    height: 80px;
    padding-top: 25px;
    box-shadow: -12px 15px 10px;
    border-radius: 50px 50px 50px 50px;
}

.columna {
    column-count: 3;
    column-gap: 10px;
    padding: 10px;
    column-rule: 3px solid black;
}

.columna p {
    font-family: Arial;
    font-style: italic;
    font-weight: bold;
    margin-top: 0%;
}

h6{
    font-family: Arial;
    font-size: 18px;
    color: green;
}
